# **Operaciones con tablas**

In [ ]:
# importar datos
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# importar paquetes
import pandas as pd
import numpy as np

In [ ]:
# leer base
# Ingresar a Google Dataset: https://datasetsearch.research.google.com, escribir stars y entrar a Kaggle
df = pd.read_csv('/content/drive/MyDrive/Curso/6 class.csv', sep = ",")
df.head(3)

   Temperature (K)  Luminosity(L/Lo)  ...  Star color  Spectral Class
0             3068            0.0024  ...         Red               M
1             3042            0.0005  ...         Red               M
2             2600            0.0003  ...         Red               M

[3 rows x 7 columns]

**Operaciones Simples**

In [ ]:
# df.iloc
df2 = df.iloc[:,:-3]
df2.head(3)

   Temperature (K)  Luminosity(L/Lo)  Radius(R/Ro)  Absolute magnitude(Mv)
0             3068            0.0024        0.1700                   16.12
1             3042            0.0005        0.1542                   16.60
2             2600            0.0003        0.1020                   18.70

In [ ]:
# suma general
df2 + 150

     Temperature (K)  Luminosity(L/Lo)  Radius(R/Ro)  Absolute magnitude(Mv)
0               3218        150.002400      150.1700                  166.12
1               3192        150.000500      150.1542                  166.60
2               2750        150.000300      150.1020                  168.70
3               2950        150.000200      150.1600                  166.65
4               2089        150.000138      150.1030                  170.06
..               ...               ...           ...                     ...
235            39090     374980.000000     1506.0000                  140.07
236            30989     834192.000000     1344.0000                  139.37
237             8979     537643.000000     1573.0000                  139.27
238             9385     405090.000000     1262.0000                  138.77
239            38032     295053.000000     1933.0000                  142.20

[240 rows x 4 columns]

In [ ]:
# división general
df2['Absolute magnitude(Mv)']/10

0      1.612
1      1.660
2      1.870
3      1.665
4      2.006
       ...
235   -0.993
236   -1.063
237   -1.073
238   -1.123
239   -0.780
Name: Absolute magnitude(Mv), Length: 240, dtype: float64

In [ ]:
# utilizar funciones de librerías
np.cos(df2['Radius(R/Ro)'])

0      0.985585
1      0.988135
2      0.994803
3      0.987227
4      0.994700
         ...
235    0.391968
236    0.981088
237   -0.990010
238    0.992347
239    0.145649
Name: Radius(R/Ro), Length: 240, dtype: float64

In [ ]:
# resta entre columnas
df2['Radius(R/Ro)'] - df2['Luminosity(L/Lo)']

0           0.167600
1           0.153700
2           0.101700
3           0.159800
4           0.102862
           ...
235   -373474.000000
236   -832848.000000
237   -536070.000000
238   -403828.000000
239   -293120.000000
Length: 240, dtype: float64

In [ ]:
# resta entre columnas con diferentes índices
df2.iloc[::2]['Luminosity(L/Lo)'] - df2['Absolute magnitude(Mv)']

0         -16.117600
1                NaN
2         -18.699700
3                NaN
4         -20.059862
           ...
235              NaN
236    834052.630000
237              NaN
238    404951.230000
239              NaN
Length: 240, dtype: float64

In [ ]:
# resta entre columnas con diferentes índices, rellenar vacíos con 10
df2.iloc[::2]['Luminosity(L/Lo)'].sub(df2['Absolute magnitude(Mv)'],fill_value = 10)

0         -16.117600
1          -6.600000
2         -18.699700
3          -6.650000
4         -20.059862
           ...
235        19.930000
236    834052.630000
237        20.730000
238    404951.230000
239        17.800000
Length: 240, dtype: float64

**Operaciones complejas: Definir funciones:**

**Apply**

In [ ]:
# Ejemplo función 1
def funcion(x):
  if x > 16.5:
    valor = 'Mayor que 16.5'
  else:
    valor = 'Menor que 16.5'
  return valor

In [ ]:
# Aplicar función 1
df2['Absolute magnitude(Mv)'].apply(funcion)

0      Menor que 16.5
1      Mayor que 16.5
2      Mayor que 16.5
3      Mayor que 16.5
4      Mayor que 16.5
            ...
235    Menor que 16.5
236    Menor que 16.5
237    Menor que 16.5
238    Menor que 16.5
239    Menor que 16.5
Name: Absolute magnitude(Mv), Length: 240, dtype: object

In [ ]:
# Ejemplo función 2
def funcion2(x):
  if x > 16.5:
    valor = (x/2)*30
  else:
    valor = (x)*10
  return valor

In [ ]:
# Aplicar función 2
df2['Absolute magnitude(Mv)'].apply(funcion2)

0      161.20
1      249.00
2      280.50
3      249.75
4      300.90
        ...
235    -99.30
236   -106.30
237   -107.30
238   -112.30
239    -78.00
Name: Absolute magnitude(Mv), Length: 240, dtype: float64

In [ ]:
# Ejemplo función 3
def funcion3(valor, h = 0,f= 0):
  nuevo_valor = valor*h - f
  return(nuevo_valor)

In [ ]:
# Aplicar función 3 con valores por default
df2['Absolute magnitude(Mv)'].apply(funcion3)

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
235   -0.0
236   -0.0
237   -0.0
238   -0.0
239   -0.0
Name: Absolute magnitude(Mv), Length: 240, dtype: float64

In [ ]:
# Aplicar función 3 con valores por default
df2['Absolute magnitude(Mv)'].apply(funcion3, h = 100, f = 1500)

0       112.0
1       160.0
2       370.0
3       165.0
4       506.0
        ...
235   -2493.0
236   -2563.0
237   -2573.0
238   -2623.0
239   -2280.0
Name: Absolute magnitude(Mv), Length: 240, dtype: float64

In [ ]:
# Ejemplo función 4
def funcion4(x):
  if x > df['Absolute magnitude(Mv)'].mean():
    valor = 1
  else:
    valor = 0
  return valor

In [ ]:
# Aplicar función 4
df2['Absolute magnitude(Mv)'].apply(funcion4)

0      1
1      1
2      1
3      1
4      1
      ..
235    0
236    0
237    0
238    0
239    0
Name: Absolute magnitude(Mv), Length: 240, dtype: int64

In [ ]:
# Realizar una función utilizando múltiples columnas
def funcion5(fila):
  if fila['Absolute magnitude(Mv)'] > 4.382395833333335 and fila['Star color'] == 'White':
    valor = 1
  elif fila['Absolute magnitude(Mv)'] > 7 and fila['Star color'] == 'Red':
    valor = 2
  else:
    valor = 3
  return valor

In [ ]:
# Aplicar función sobre un dataframe
df.apply(funcion5, axis = 1) # Se debe poner axis = 1

0      2
1      2
2      2
3      2
4      2
      ..
235    3
236    3
237    3
238    3
239    3
Length: 240, dtype: int64

**Lambda**

In [ ]:
# Aplicar funciones sobre fila
df2['Temperature (K)'].apply(lambda x: x-273.15) # Pasar de kelvin a celsius

0       2794.85
1       2768.85
2       2326.85
3       2526.85
4       1665.85
         ...
235    38666.85
236    30565.85
237     8555.85
238     8961.85
239    37608.85
Name: Temperature (K), Length: 240, dtype: float64

In [ ]:
# Aplicar condiciones sobre la fila
df2['Temperature (K)'].apply(lambda x: "mayor que la media" if x > df2['Temperature (K)'].mean() else "menor que la media")

0      menor que la media
1      menor que la media
2      menor que la media
3      menor que la media
4      menor que la media
              ...
235    mayor que la media
236    mayor que la media
237    menor que la media
238    menor que la media
239    mayor que la media
Name: Temperature (K), Length: 240, dtype: object

In [ ]:
# Aplicar condiciones sobre diferentes las filas utilizando las columnas del DataFrame
df2.apply(lambda x: x['Luminosity(L/Lo)']/x['Radius(R/Ro)'], axis = 1) # En este caso tengo que especificar axis = 1 para que tome la columna de cada fila

0        0.014118
1        0.003243
2        0.002941
3        0.001250
4        0.001340
          ...
235    276.423304
236    698.527638
237    377.718201
238    364.154676
239    165.397084
Length: 240, dtype: float64

In [ ]:
# Aplicar funciones sobre todas las filas de cada columnas
df2.apply(lambda x: x.mean(), axis = 0) # En este caso saca el promedio de cada columna

Temperature (K)            10497.462500
Luminosity(L/Lo)          107188.361635
Radius(R/Ro)                 237.157781
Absolute magnitude(Mv)         4.382396
dtype: float64

In [ ]:
# Aplicar condiciones sobre todas las columnas de cada fila
df2.apply(lambda x: x.mean(), axis = 1) # En este caso saca el promedio de cada fila

0         771.073100
1         764.688675
2         654.700575
3         704.202550
4         489.790785
           ...
235    103779.017500
236    216516.092500
237    136933.567500
238    103818.942500
239     83640.050000
Length: 240, dtype: float64

In [ ]:
df2.head(3)

   Temperature (K)  Luminosity(L/Lo)  Radius(R/Ro)  Absolute magnitude(Mv)
0             3068            0.0024        0.1700                   16.12
1             3042            0.0005        0.1542                   16.60
2             2600            0.0003        0.1020                   18.70

In [ ]:
# Aplicar funciones sobre cada valor del DataFrame
df2.apply(lambda x: x/2)

     Temperature (K)  Luminosity(L/Lo)  Radius(R/Ro)  Absolute magnitude(Mv)
0             1534.0          0.001200        0.0850                   8.060
1             1521.0          0.000250        0.0771                   8.300
2             1300.0          0.000150        0.0510                   9.350
3             1400.0          0.000100        0.0800                   8.325
4              969.5          0.000069        0.0515                  10.030
..               ...               ...           ...                     ...
235          19470.0     187415.000000      678.0000                  -4.965
236          15419.5     417021.000000      597.0000                  -5.315
237           4414.5     268746.500000      711.5000                  -5.365
238           4617.5     202470.000000      556.0000                  -5.615
239          18941.0     147451.500000      891.5000                  -3.900

[240 rows x 4 columns]

**Map**

 Aplica una función a cada uno de los elementos de una lista

In [ ]:
# Se aplica sobre una serie, no todo el DataFrame
df.columns.map(str.lower) # convertir el nombre de las columnas en minúscula

Index(['temperature (k)', 'luminosity(l/lo)', 'radius(r/ro)',
       'absolute magnitude(mv)', 'star type', 'star color', 'spectral class'],
      dtype='object')

In [ ]:
# limitar decimales con lambda y map a una columna
formato = lambda x: '%.0f' % x
df['Temperature (K)'].map(formato) # si lo hago sobre un data frame me dice que no tiene formato map

0       3068
1       3042
2       2600
3       2800
4       1939
       ...
235    38940
236    30839
237     8829
238     9235
239    37882
Name: Temperature (K), Length: 240, dtype: object

**Apply Map**

In [ ]:
# limitar decimales con lambda y map a todo el DataFrame
formato = lambda x: '%.0f' % x
df2.applymap(formato)

    Temperature (K) Luminosity(L/Lo) Radius(R/Ro) Absolute magnitude(Mv)
0              3068                0            0                     16
1              3042                0            0                     17
2              2600                0            0                     19
3              2800                0            0                     17
4              1939                0            0                     20
..              ...              ...          ...                    ...
235           38940           374830         1356                    -10
236           30839           834042         1194                    -11
237            8829           537493         1423                    -11
238            9235           404940         1112                    -11
239           37882           294903         1783                     -8

[240 rows x 4 columns]